.wrapper{
    min-width: 600px;
}

header{
    display: flex-end;
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

header a{
    padding: 40px;
}

a:link{
    text-decoration:none;
}

a:visited{
    color:black;
    text-decoration: none;
}

/* Hover animation for each link */

header a::before{
    transform: scaleX(0);
    transform-origin: right; 
}

header a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.Chicago::before {
    background: #FEFCD7;
    content: "";
    display: block;
    inset: 20px 910px 690px 460px;
    position: absolute;
    transition: transform .5s ease;
    z-index: -1;
}

/* having issues with aligning items to screen size */

.Seoul::before {
    background: #FEFCD7;
    content: "";
    display: block;
    inset: 20px 770px 690px 630px ; 
    position: absolute;
    transition: transform .5s ease;
    z-index: -1;
}


.Brooklyn::before {
    background: #FEFCD7;
    content: "";
    display: block;
    inset: 20px 590px 690px 770px ; 
    position: absolute;
    transition: transform .5s ease;
    z-index: -1;
}


.Paris::before {
    content: "";
    display: block;
    position: absolute;
    inset: 20px 460px 690px 950px ; 
    /* top,bottom,right,left */
    background: #FEFCD7;
    z-index: -1;
    transition: transform .5s ease;
}

/* end of hover code */

.WeatherCard{
    background-color: #FEFCD7;
    border: 3px solid black;
    margin: auto;
    max-width: 1280px;
    padding: 25px;
    width: 600px;
}

.city{
    font-size: 70px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.WeatherIcon--WeatherType svg {
    height: 150px;
    margin-top: 15px;
}

.type{
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-top: -75px;
}

.temp{
    display: flex;
    font-size: 35px;
    margin-bottom: 10px;
    margin-left: 210px;
    margin-top: -100px;
}

.cloudiness{
    margin-left: 450px;
}

.low{
    font-size: 20px;
    font-style: italic;
    margin-left: 415px;
    margin-top: -10px;
}

.humidity{
    margin-bottom: -10px;
    margin-top: 30px;
    text-align: center;
}

.windSpeed{
    margin-bottom: -40px;
    margin-left: 10px;
    margin-top: -20px;
}

.high{
    font-size: 20px;
    font-style: italic;
    margin-left: 415px;
    margin-top: -45px;
}

/* circles for temperature */

.circle {
    border: 10px;
    border-radius: 50%;
    height: 120px;
    position: relative;
    width: 120px;
}

.circle.circle-one{
    margin-left:20px;
    margin-top: 50px;
}

.circle.circle-two{
    margin-left:235px;
    margin-top: -120px;
}

.circle.circle-three{
    align-items: center;
    margin-left:450px;
    margin-top: -122px;
}